{% extends "base_page.html" %}
{% block page_content %}

<div class="container">
    <div class="jumbotron" >
        <div class="container">
            <h2>Davidson Next AP Challenging Concepts</h2>
            <p>Educational content aimed at improving teaching and learning.</p>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        
        <!-- Sidebar (affix) -->
        <!--left-->
        <div class="col-md-2" id="leftCol">
          <ul class="nav nav-list affix" id="sidebar">
            <li><a href="#sec1">Calculus</a></li>
            <li><a href="#sec2">Macroeconomics</a></li>
            <li><a href="#sec3">Physics</a></li>
          </ul>
        </div><!--/left-->

        <div class="col-md-10">
          <hr id="sec3">
          </br>
          </br>
          <h3>AP&reg; Physics: Challenging Concepts from Physics 1 &amp; Physics 2</h3>
          <p>Interactive Educational Content</p>
          <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/L0EFLN6gl6Y"></iframe>
                </div>
            </div>
            
            <!-- edX Live Button -->
            <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Phy_APccx+2T2015/courseware/" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>
            

          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Enhanced Activities</h3></div>
                <div class="panel-body">
                  <p>Physics content had a great influence on many of the tools created by Davidson Next. We currently use the following in the course:</p>
                    <ol>
                      <li>Vector, Segment, and Measurement Drawing Tool</li>
                      <li>Data Entry and Plotting</li>
                      <li>Active Table Problem Type</li>
                    </ol>
                    <p>A partial list of enhancements can be found here: link.</p>
                </div>
              </div>
            </div>  
          </div>
        
        <div class="col-md-10">
          <hr id="sec3">
          </br>
          </br>
          <h3>AP&reg; Macroeconomics: Challenging Concepts<br/></h3>
            <p>Interactive Educational Content</p>
          <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/Q1jr40-sRlI"></iframe>
                </div>
            </div>
            
            <!-- edX Live Button -->
            <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Mac_APccx+2T2015/courseware/" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>
            

          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Enhanced Activities</h3></div>
                <div class="panel-body">
                  <p>Physics content had a great influence on many of the tools created by Davidson Next. We currently use the following in the course:</p>
                    <ol>
                      <li>Vector, Segment, and Measurement Drawing Tool</li>
                      <li>Data Entry and Plotting</li>
                      <li>Active Table Problem Type</li>
                    </ol>
                    <p>A partial list of enhancements can be found here: link.</p>
                </div>
              </div>
            </div>  
          </div>
        

        <hr/>

        <div class="col-md-10">
          <hr id="sec3">
          </br>
          </br>
          <h3>AP&reg; Calculus: Challenging Concepts from Calculus AB &amp; Calculus BC</h3>
            <p>Interactive Educational Content</p>
          <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/kg4J7STTKBw"></iframe>
                </div>
            </div>
            
            <!-- edX Live Button -->
            <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Cal_APccx+2T2015/courseware/" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>
            

          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Enhanced Activities</h3></div>
                <div class="panel-body">
                  <p>Physics content had a great influence on many of the tools created by Davidson Next. We currently use the following in the course:</p>
                    <ol>
                      <li>Vector, Segment, and Measurement Drawing Tool</li>
                      <li>Data Entry and Plotting</li>
                      <li>Active Table Problem Type</li>
                    </ol>
                    <p>A partial list of enhancements can be found here: link.</p>
                </div>
              </div>
            </div>  
          </div>
        
        </div>

</div>

{% endblock %}