{% extends "base_page.html" %}
{% block page_content %}

    <div class="container">
        <div class="jumbotron" >
            <div class="container">
                <h2>Enhanced Learning Components</h2>
                <p>Creating interactive student activities that store student work directly in edX.</p>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <!-- Sidebar (affix) -->
        <!--left-->
        <div class="col-md-3" id="leftCol">
          <ul class="nav nav-stacked affix" id="sidebar">
            <li><a href="#sec0">Section 0</a></li>
            <li><a href="#sec1">Section 1</a></li>
            <li><a href="#sec2">Section 2</a></li>
            <li><a href="#sec3">Section 3</a></li>
            <li><a href="#sec4">Section 4</a></li>
          </ul>
        </div><!--/left-->

        <!-- /.row -->

        <div class="col-md-9">
        <h1 class="page-header">Graphing and Data Entry Tools <small>jsxgraph</small></h1>
        <p>
          At Bootply we like to build simple Bootstrap templates that utilize the code Bootstap CSS without a lot of customization. Sure you can 
          find a lot of Bootstrap themes and inspiration, but these templates tend to be heavy on customization.</p>
        
        <hr>
        <p>
          Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.              
          Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!</p>


        <!-- Projects Row -->
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Graphing and Data Entry Tools
                    <small>jsxgraph</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="https://dnexttools.s3.amazonaws.com/GraphingCalculator/graphing_calculator.html">
                    <img class="img-responsive" src="projects/Graphing_and_DataEntry/graphing_calculator.png" alt="">
                </a>
                <h3>
                    Graphing Calculator
                </h3>
                <!-- Button trigger modal -->
                
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#CurveSelect">
                  Demo
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="fa fa-github" aria-hidden="true"></span>
                    <a href="https://github.com/DavidsonNext/Interactives/tree/master/graphing_calculator"> Git </a>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="CurveSelect" tabindex="-1" role="dialog" aria-labelledby="myCurveSelect" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myCurveSelect">Curve Selection</h4>
                      </div>
                      <div class="modal-body">
                        <iframe frameBorder="0" width=800 height=800 src="https://dnexttools.s3.amazonaws.com/GraphingCalculator/graphing_calculator.html"></iframe>
                        <h4>Instructions:</h4> <p>Either put in your own function, or simply click plot. To find a zero, you must provide a starting x value.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            
                <p>Graphing calculators are permitted for use during "calculator active" problems on AP exams. Our app provides open access to those functionalities required for the AP exam.</p>
    
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="https://dnextinteractives.s3.amazonaws.com/data_entry/single_experiment.html">
                    <img class="img-responsive" src="projects/Graphing_and_DataEntry/data_entry_plotting.png" alt="">
                </a>
                <h3>
                    Data Entry and Plotting
                </h3>
                
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#CurveDrag">
                  Demo
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="fa fa-github" aria-hidden="true"></span>
                    <a href="https://github.com/DavidsonNext/Interactives/tree/master/data_entry"> Git </a>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="CurveDrag" tabindex="-1" role="dialog" aria-labelledby="myCurveDrag" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myCurveDrag">Curve Drag</h4>
                      </div>
                      <div class="modal-body">
                        <iframe frameBorder="0" width=500 height=400 src="https://dnextinteractives.s3.amazonaws.com/data_entry/single_experiment.html"></iframe>
                        <h4>Instructions:</h4> <p>Click and drag the blue curve.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <p>Laboratory activities have been a missing link between online content and AP courses. Our Data Entry and Plotting tool aims to connect online and blended learning courses to a set of tools that allow students to directly store and measure data points within the edX platform. </p>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="projects/Graphing/graphing_calculator.html">
                    <img class="img-responsive" src="projects/Graphing/graphing_calculator.png" alt="">
                </a>
                <h3>
                    Active Table
                </h3>

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#GraphCalc">
                  Demo
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    <a href="projects/Graphing/graphing_calculator.html" download="graphing_calculator.html">
                        File 
                    </a>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="GraphCalc" tabindex="-1" role="dialog" aria-labelledby="myGraphCalc" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myGraphCalc">Graphing Calculator</h4>
                      </div>
                      <div class="modal-body">
                        <iframe frameBorder="0" width=900 height=450 src="projects/Graphing/graphing_calculator.html"></iframe>
                        <h4>Instructions:</h4> <p>Either put in your own function, or simply click plot. To find a zero, you must provide a starting x value.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <p>Graphing calculators are permitted for use during "calculator active" problems on AP exams. Here we attempt to provide open access to those functionalities required for the AP exam.</p>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Drawing
                    <small>paper.js and jsxgraph</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="projects/Drawing/vector_drawing.html">
                    <img class="img-responsive" src="projects/Drawing/vector_drawing.png" alt="">
                </a>
                <h3>
                    Vector Drawing
                </h3>

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Protractor">
                  Demo
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    <a href="projects/Drawing/vector_drawing.html" download="vector_drawing.html"> File </a>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="Protractor" tabindex="-1" role="dialog" aria-labelledby="myProtractor" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myProtractor">Vector Drawing</h4>
                      </div>
                      <div class="modal-body">
                        <iframe frameBorder="0" width=600 height=400 src="projects/Drawing/vector_drawing.html"></iframe>
                        <h4>Instructions:</h4> <p>Click anywhere on the protractor, drag the mouse, and release to create a vector. Note, grading on edX requires the vector to start from the center of the protractor.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <p>Drawing and interpreting vectors are fundamental to many physics concepts. Paper.js allows students to draw directly to screen using their mouse. Inspired by problems in force diagrams.</p>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="projects/Drawing/fdb_box_on_incline.html">
                    <img class="img-responsive" src="projects/Drawing/fdb_box_on_incline.png" alt="">
                </a>
                <h3>
                    Force Diagrams
                </h3>

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#FDB">
                  Demo
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    <a href="projects/Drawing/fdb_box_on_incline.html" download="fdb_box_on_incline.html"> File </a>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="FDB" tabindex="-1" role="dialog" aria-labelledby="myFDB" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myFDB">Force Diagram</h4>
                      </div>
                      <div class="modal-body">
                        <iframe frameBorder="0" width=800 height=400 src="projects/Drawing/fdb_box_on_incline.html"></iframe>
                        <h4>Instructions:</h4> <p>Use the buttons to the right of the canvas to insert vectors. Then drag them to their appropriate location.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <p>Force Diagrams are used throughout physics courses to analyze forces acting on an object. This example allows students to arrange vectors vectors and get graded feedback on their configuration. Any image can be loaded to the background.</p>
                
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="projects/Drawing/drawing_points.html">
                    <img class="img-responsive" src="projects/Drawing/drawing_points.png" alt="">
                </a>
                <h3>
                    Drawing Data Points
                </h3>

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Points">
                  Demo
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    <a href="projects/Drawing/drawing_points.html" download="drawing_points.html"> File </a>
                    
                </button>

                <!-- Modal -->
                <div class="modal fade" id="Points" tabindex="-1" role="dialog" aria-labelledby="myPoints" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myPoints">Drawing Data Points</h4>
                      </div>
                      <div class="modal-body">
                        <iframe frameBorder="0" width=500 height=400 src="projects/Drawing/drawing_points.html"></iframe>
                        <h4>Instructions:</h4> <p>Click anywhere in the interactive canvas to draw a single data point.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <p>We are aiming to test how higher levels of interactivity with data correlates with learning. A first step involves allowing students to control data points. Inspired by problems associated with potential laboratories in Davidson Next.</p>
                
            </div>
        </div>
        
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Open-Source Javascript Packages
                    <!-- <small>custom</small> -->
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>
                    <a href="http://jsxgraph.uni-bayreuth.de/wp/">JSXgraph</a>

                </h3>
                From their website: 
                <i>
                    JSXGraph is a cross-browser library for interactive geometry, function plotting, charting, and data visualization in a web browser. It is implemented completely in JavaScript, does not rely on any other library, and uses SVG, VML, or canvas. JSXGraph is easy to embed and has a small footprint: less than 100 KByte if embedded in a web page. No plug-ins are required! Special care has been taken to optimize the performance.
                </i>
                <h3>
                    <a href="http://jsxgraph.uni-bayreuth.de/wp/">Paper JS</a>
                </h3>
                From their website: 
                <i>
                    Paper.js is an open source vector graphics scripting framework that runs on top of the HTML5 Canvas. It offers a clean Scene Graph / Document Object Model and a lot of powerful functionality to create and work with vector graphics and bezier curves, all neatly wrapped up in a well designed, consistent and clean programming interface.
                </i>
            </div>

        </div>
        <!-- /.row -->

{% endblock %}