{% extends "base_page.html" %}
{% block page_content %}

<div class="container">
    <div class="jumbotron" >
        <div class="container">
            <h2>Davidson Next AP Challenging Concepts</h2>
            <p>Educational content aimed at improving teaching and learning.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/HOGNMUoWIgw"></iframe>
            </div>
            <h3>Davidson Next Promotional Video</h3>
            <!-- <p>Interactive Educational Content</p> -->
        </div>
    </div>
</div>

{% endblock %}