{% extends "base_page.html" %}
{% block page_content %}

    <div class="container">
        <div class="jumbotron" >
            <div class="container">
                <h2>Davidson Next AP Challenging Concepts</h2>
                <p>Educational content aimed at improving teaching and learning.</p>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <!-- Sidebar (affix) -->
        <!-- <div class="col-md-2" id="leftCol">
          <ul class="nav nav-list affix" id="sidebar">
            <li><a href="#sec1">Calculus</a></li>
            <li><a href="#sec2">Macroeconomics</a></li>
            <li><a href="#sec3">Physics</a></li>
          </ul>
        </div> -->

        <div class="col-md-12">
        <div class="container">

          <div class="col-md-12">
            <hr id="sec1">
            <h1 class="page-header">AP&reg; Calculus: Challenging Concepts from Calculus AB &amp; Calculus BC</h1>          
            <p>Learn the most challenging topics in AP&reg; Calculus AB and Calculus BC. Well-respected AP instructors from around the United States will lead you through video instruction, exam-style questions and interactive activities. Each module will cover one of the most demanding concepts in this AP&reg; Calculus AB and Calculus BC (based on College Board data from 2011&emd;2013 Advanced Placement&reg; exams). These tricky topics are broken up into bite&emd;sized pieces&emd;with short instructional videos, interactive graphs, and practice problems written by many of the same people who write and grade your AP&reg; Calculus exams.</p>

            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><h4>Example Calculus Video</h4></div>
                  <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/kg4J7STTKBw"></iframe>
                  </div>
                </div>
                <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Cal_APccx+2T2015/courseware/" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><h4>Modules</h4></div>
                  <div class="panel-body">
                    <ol>
                        <li>AB/BC: Limits</li>
                        <li>AB/BC: Definition of Derivative</li>
                        <li>AB/BC: Chain Rule</li>
                        <li>AB/BC: Implicit Differentiation</li>
                        <li>BC*: L'Hospital's Rule</li>
                        <li>AB/BC: Riemann Sums</li>
                        <li>AB/BC: Functions Defined by Definite Integrals</li>
                        <li>AB/BC: Modeling and Solving Differential Equations (1)</li>
                        <li>AB/BC: Modeling and Solving Differential Equations (2)</li>
                        <li>AB/BC: Rectilinear Motion</li>
                        <li>BC: Parametric Equations</li>
                        <li>BC: Introduction to Series</li>
                        <li>BC: Series Convergence</li>
                        <li>BC: Series Manipulation</li>
                    </ol>
                  </div>
                </div>
            </div> 

          </div>


          <div class="col-md-12">
            <hr id="sec1">
            <h1 class="page-header">AP&reg; Macroeconomics: Challenging Concepts</h1>          
            <p>Learn the most difficult concepts in the AP&reg; Macroeconomics course, roughly 60% of the AP exam material, from top AP instructors. Each module will cover one of the most demanding concepts in the AP&reg; Macroeconomics course (based on College Board data from 2011&emd;2013 Advanced Placement&reg; exams). These tricky topics are broken up into bite&emd;sized pieces&emd;with short instructional videos, interactive graphs, and practice problems written by many of the same people who write and grade your AP&reg; Macroeconomics exams.</p>

            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><h4>Example Macroeconomics Video</h4></div>
                  <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/Q1jr40-sRlI"></iframe>
                  </div>
                </div>
                <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Cal_APccx+2T2015/courseware/" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><h4>Modules</h4></div>
                  <div class="panel-body">
                    <ol>
                        <li>Nominal &amp; Real Values</li>
                        <li>AClassical &amp; Keynesian Models</li>
                        <li>Aggregate Demand</li>
                        <li>Aggregate Supply</li>
                        <li>Short&emd;Run Macroeconomic Equilibrium</li>
                        <li>Moving to Long&emd;Run Equilibrium</li>
                        <li>Economic Growth</li>
                        <li>Fiscal Policy</li>
                        <li>Money &amp; the Money Market</li>
                        <li>Money Creation</li>
                        <li>Monetary Policy</li>
                        <li>Loanable Funds</li>
                        <li>Phillips Curve</li>
                        <li>Foreign Exchange Markets</li>
                    </ol>
                  </div>
                </div>
            </div> 

          </div>

          <div class="col-md-12">
            <hr id="sec3">
            <h1 class="page-header">AP&reg; Physics: Challenging Concepts from Physics 1 &amp; Physics 2</h1>          
            <p>Learn the 14 most challenging topics in AP&reg; Physics 1 and Physics 2. Well-respected AP instructors from around the United States will lead you through video instruction, exam-style questions and interactive activities. Each module will cover one of the most demanding concepts in the newly redesigned AP&reg; Physics 1 and 2 curricula (based on College Board exam data from 2011&emd;2013 AP&reg; Physics B). These tricky topics are broken into bite&emd;sized pieces&emd;with short instructional videos, on-screen simulations, interactive graphs, and practice problems written by many of the same people who write and grade your AP&reg; Physics 1 and 2 exams.</p>

            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><h4>Example Physics Video</h4></div>
                  <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/L0EFLN6gl6Y"></iframe>
                  </div>
                </div>
                <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Cal_APccx+2T2015/courseware/" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><h4>Modules</h4></div>
                  <div class="panel-body">
                    <ol>
                        <li>Acceleration</li>
                        <li>Force Diagrams</li>
                        <li>Momentum</li>
                        <li>Rotational Motion</li>
                        <li>Angular Momentum</li>
                        <li>Standing Waves</li>
                        <li>Conservation of Charge and Energy in Circuits</li>
                        <li>Electrostatic Fields</li>
                        <li>Gravitational and Electric Potentials</li>
                        <li>Electromagnetic Induction</li>
                        <li>Thermodynamics</li>
                        <li>Pressure, Force and Flow in Fluids</li>
                        <li>Diffraction and Interference</li>
                        <li>Atomic Transitions</li>
                    </ol>
                  </div>
                </div>
            </div> 

          </div>


        </div>
        

        </div>

    
        

{% endblock %}