{% extends "base_page.html" %}
{% block page_content %}

    <div class="container">
        <div class="jumbotron" >
            <div class="container">
                <h2>Enhanced Learning Components</h2>
                <p>Creating interactive student activities that store student work directly in edX.</p>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <!-- Sidebar (affix) -->
        <!-- <div class="col-md-2" id="leftCol">
          <ul class="nav nav-list affix" id="sidebar">
            <li><a href="#sec1">Data Entry and Plotting</a></li>
            <li><a href="#sec2">Active Table</a></li>
            <li><a href="#sec3">Technology</a></li>
          </ul>
        </div> -->

        <!-- /.row -->

        <div class="col-md-12">
          <h1 class="page-header">Data Entry Tools<br/><small>(Data Entry and Plotting , Active Table)</small></h1>
          <p>Data entry and analysis was largely pushed by Davidson Next physics content, where AP teachers wanted to students to be exposed to data and plotting - note, there are new AP exam questions aimed at this skill.</p>
          <p>In addition, we found across all three Davidson Next subjects that teachers wanted "worksheet" style problems that allows students to carry out a series of calculations that would all be graded at once. This functionality is what led to the Active Table problem type.</p>          

          <hr id="sec1">
          </br>
          </br>
          <h3 id="sec1">Data Entry and Plotting</h3>
          <p>Laboratory activities have been a missing link between online content and AP courses. Our Data Entry and Plotting tool aims to connect online and blended learning courses to a set of tools that allow students to directly store and measure data points within the edX platform. </p>
          
          <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <a href="https://dnextinteractives.s3.amazonaws.com/data_entry/single_experiment.html">
                  <img class="img-responsive" src="images/dataEntryPlottingRM.png" alt="">
              </a>
            </div>
            
            <!-- edX Live Button -->
            <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Phy_APccx+2T2015/courseware/Acceleration/LC1_Position_versus_Time_Graphs_for_Uniform_Acceleration/5" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>
            
            <!-- Demo Button -->
            <a href="https://dnextinteractives.s3.amazonaws.com/data_entry/single_experiment.html" class="btn btn-success btn-md" target="_blank">
              Demo
            </a>

            <!-- Github Button -->
            <button type="button" class="btn btn-default btn-md">
                <span class="fa fa-github" aria-hidden="true"></span>
                <a href="https://github.com/DavidsonNext/Interactives/tree/master/data_entry" target="_blank"> Git </a>
            </button>

          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Instructions.</h3></div>
                <div class="panel-body">
                  <p>The general workflow for the Data-Entry and Plotting Tool on the edX Platform:</p>
                    <ol>
                      <li>In all activities, data will&nbsp;either be prepopulated or there will be empty cells that require calculations. If the latter, simply enter the appropriate data in the cell and hit the "save" button below the app to store it to the system. <strong><em>At this time, the application only accepts decimal notation (i.e., no scientific notation).</em></strong></li>
                      <li>With a complete data table, just choose which columns to plot using the "choose columns" button and drop down menus.</li>
                      <li>After selecting the appropriate columns, use the "plot table" button to visualize the data.</li>
                      <li>A linear-fit line can be applied to the data by clicking the "fit line" button.</li>
                      <ul>
                      <li>The linear fit will render "<strong>y=m*x+b</strong>", where "m" is the slope of the best-fit line, and "b" is the intercept. "y" and "x" represent your selected columns.</li>
                      </ul>
                      <li>At anytime, you can use the "reset" button to restore all cells to their initial values. This might be necessary if any of the initial values in the table are accidentally overwritten. <strong><em>Important, the reset button will cause you to lose any work you have entered in the data table.</em></strong></li>
                    </ol>
                </div>
              </div>
            </div>  
          </div>


          <hr id="sec2">
          </br>
          </br>
          <!-- Active Table  -->
          <h3>Active Table</h3>
          <p>edX has miriad of high quality assessment types, but does not yet offer the ability to respond in a table format. Active Table are designed to give instructors control in asking learners to calculate a number of related responses. Right now, this resemble a "worksheet" style problem, where a high school teacher might have a table of values for students to fill out. As we move forward, we hope to expand this tool to allow more "spreadsheet" like activities (for example, one could create a sudoku activity with this problem type). Column and row grading is possible now with custom python grading, but has not been generalized.</p>
          <div class="panel panel-default">
              <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Mac_APccx+2T2015/courseware/Money_Creation/LC2_Excess_Reserves/3">
                  <img class="img-responsive" src="images/actTable_oldTable.png" alt="">
              </a>
          </div>

          <!-- edX Live Button -->
          <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Mac_APccx+2T2015/courseware/Money_Creation/LC2_Excess_Reserves/3" role="button" class="btn btn-primary btn-md" target="_blank"> edX Live </a>

          <!-- Demo Button -->
          <a href="https://courses.edx.org/courses/course-v1:DavidsonNext+Mac_APccx+2T2015/courseware/Money_Creation/LC2_Excess_Reserves/3" class="btn btn-success btn-md" target="_blank">
            Demo
          </a>

          <!-- Github Button -->
          <button type="button" class="btn btn-default btn-sm">
                <span class="fa fa-github" aria-hidden="true"></span>
                <a href="https://github.com/open-craft/activetable-jsinput"> Git </a>
          </button>


          <hr id="sec3">
          </br>
          </br>
          <!-- Active Table  -->
          <h3>Technology</h3>
          <p>The data entry and plotting tool was largely built around JSXgraph. In addition, modern HTML/Javascript/CSS and JQuery provide some of the refined features of the tool. The Active Table problem type involved more basic HTML components.</p>

          <h3>
              <a href="http://jsxgraph.uni-bayreuth.de/wp/">JSXgraph</a>

          </h3>
          From their website: 
          <i>
              JSXGraph is a cross-browser library for interactive geometry, function plotting, charting, and data visualization in a web browser. It is implemented completely in JavaScript, does not rely on any other library, and uses SVG, VML, or canvas. JSXGraph is easy to embed and has a small footprint: less than 100 KByte if embedded in a web page. No plug-ins are required! Special care has been taken to optimize the performance.
          </i>
          

        </div>

    
        

{% endblock %}